/* CSS for the start view */

.startContainer{
    text-align: center;
    }
    
.startContainer #headerimg {
    margin-top: 0;
    max-width: 100%;
    }
    
.startContainer #text {
    color: white;
    padding-left:20px;
    padding-right: 20px;
    }

.loginBox {
    color: rgba(250, 250, 250, 1);
    background-color: rgba(2, 2, 2, 0.541);
    border-radius: 50px;
    text-align: center;
    padding: 40px;

    /* Shadow: */  
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
}

.redText {
    color: red;
}

.noLogIn {
    max-width: 50%;
    font-size: small;
}