.myTeam {
    text-align: center;
    border-right: 2px solid white;
}

.otherTeam {
    text-align: center;
}

.row {
    padding: 0px;
    margin: 0px;
}

.row img {
    height: 500px;
}

.row h1 {
    color: white;
}

.row p {
    color: white;
    font-size: 30px;
}

.container {
    padding: 0px;
}

.redText {
    color: red;
}

.blueText {
    color: #226be2;
}