/*  All CSS that belongs in the chat view, but not to a specific chat */

.chatContainer {
    text-align: center;
    margin: 0px;
  }

  .chatContainer img {
    max-width: 40px;
    border-radius: 100px;
    margin: 5px;
  }

  .chatContainer #headerimg {
    max-width: 70%;
    margin-top: -1.5em;
  }
  
  .chatContainer #text {
    color: white;
    font-size: small;
    padding:15px;
    padding-top: 0px;
    text-shadow: 0px 0px 12px #000000;    
    }
  
#GameTimerContainer{
  font-size: small;

}

  .chatBox { 
    /* The box containing the whole chat,
    including: top-bar with users, messages and input-bar
    For both chat 1 and 2 */

    margin-top: 10px;
    text-align: left;
  
    color: rgba(250, 250, 250, 1);
    background-color: rgba(2, 2, 2, 0.541);
  
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
  }
  
/* USER INFO BAR  (Top of chat) */

#userinfo{
    font-size: small;
    padding-bottom: 10px;
    padding: 10px;
    padding-left: 25px;
  }
  
  #userinfo img {
    max-width: 40px;
    border-radius: 100px;
    margin: 5px;
    object-fit: cover;
    max-height: 40px;
  }

/* VOTE BOX */

#voteBox {
  margin-top: 10px;
  padding: 20px;
  padding-left: 30px;
  text-align: left;

  color: rgba(250, 250, 250, 1);
  background-color: rgba(2, 2, 2, 0.541);

  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);

  height: 190px;
  font-size: small;
}

#voteBox .inline-block {
  display: inline-block;
  padding: 10px;
}

.inline-block div:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    cursor: pointer;
}


#voteBox img {
  max-width: 40px;
  border-radius: 0px;
  margin: 5px;
  object-fit: cover;
  max-height: 40px;}

/* BOTTOM ROW */ 


#bottomRow {
    margin: 30px;
    font-size: smaller;
    cursor: pointer;
    display: block;
}

#bottomRow #regler {
  color: rgb(148, 24, 24);
  display:inline-block;
  position: relative; 
  padding-right: 5px;
  font-size: small;
}

#bottomRow #regler:hover {
  text-decoration: underline;
  color: rgb(114, 16, 16);

}

#bottomRow #logout {
  display:inline-block;
  position: relative; 
  padding-left: 5px;
  font-size: small;

}


/* POP-UP */


.popContent{
  padding: 20px;
  padding-top: 5px;;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 25px;
  text-align: left;
  float: left;
  font-size: small;
  max-width: 100%;
  overflow-y: scroll;

}

.popContent #header {
color: rgb(0, 0, 0);
font-size: xx-large;
margin-bottom: 20px;
}

.popContent img {
  border-radius: 0px;
  max-height: 30px;
  margin: 2px;
}

.popup-content {
  margin: 10px;
}
/* OTHER */

.img-element-other {
  max-width: 40px;
  border-radius: 100px;
  margin: 5px;
  float: left;
}

.choicesCard {
    width: 20px;
    float: left;
}

.choicesText {
    margin-top: 10px;
    float: left;
}

.hide {
    display: none;
}

.teamMates {
    display: inline-block;
}

#loginimg {
    position: absolute;
    top: 50%;
}