
 .popContent{
      padding: 20px;
      padding-top: 5px;;
      background-color: rgb(255, 255, 255);
      color: black;
      border-radius: 25px;
      text-align: left;
      float: left;
  }


  .popContent #header {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    margin-bottom: 20px;
}