body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("https://cdn.hipwallpaper.com/i/67/19/TXEAb1.jpg") no-repeat center center fixed; 
    background-size: cover;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .container-fluid{
    padding-left: 100px;
    padding-right: 100px;
  }
  
  
  /* START VIEW:  The class name is found in the view */
  
  .loginBox {
  
    color: rgba(250, 250, 250, 1);
    background-color: rgba(2, 2, 2, 0.541);
    border-radius: 50px;
    text-align: center;
    margin-top: 50px;
    padding: 40px;
  
    /* Shadow: */  
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
  
  }
  
  .startContainer{
    text-align: center;
  }
  
  .startContainer #headerimg {
    max-width: 80%;
  }
  
  .startContainer #text {
    color: white;
    padding-left:20px;
    padding-right: 20px;
  
  }
  
  #logout {
    margin: 30px;
    color: rgb(105, 23, 23);
    font-size: smaller;
  }
  
  .linkClass{
    color: green;
  }
  
  /* CHAT VIEW: */
  
  
  .chatContainer {
    text-align: center;
    margin: 0px;
  
  }
  
  .chatBox {
    margin-top: 10px;
  
    text-align: left;
  
    color: rgba(250, 250, 250, 1);
    background-color: rgba(2, 2, 2, 0.541);
  
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
    -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
  }
  
  
  .chatBox #chatText{
    color: #e9e9e9;
    background-color: rgba(2, 2, 2, 0.144);
    border-radius: 5px;
    display:block;
    min-width: 300px;
    height: 350px;
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 13px;
    padding-bottom: 10px;
  }

    /* MY MESSAGES */
    .chatBox .myMessagesBox {
      text-align: right;
      font-size: smaller;
      float: right;
      position: relative;
      margin: 5px 20px 5px 5px;
      color: rgba(255, 255, 255, 0.479);
    }
    
    .chatBox .myMessages {
      color: black;
      font-size: medium;
      margin-top: 12px;
      margin-right: 8px;
      padding: 5px 15px 5px 15px;
      text-align: right;
      float: left;
      position: relative;
      background-image: linear-gradient(120deg, #336db1 0%, #68a6ee 100%);
      border-radius: .7em;
    }
    
    .chatBox .myMessages:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 0.406em solid transparent;
        border-left-color: #68a6ee;
        border-right: 0;
        margin-top: -0.406em;
        margin-right: -0.406em;
    }
  
    .myMessageBox img {
      text-align: right;
      float: right;
      position: relative;
      margin:0px;
    }
  
/* OTHER MESSAGES IN MY TEAM */

  .chatBox .otherMessagesBox {
    text-align: left;
    font-size: smaller;
    float: left;
    position: relative;
    margin: 5px 20px 5px 5px;
    color: rgba(255, 255, 255, 0.479);
  }


  .chatBox .otherMessages {
    color: black;
    font-size: medium;
    margin-top: 12px;
    margin-left: 8px;
    padding: 5px 15px 5px 15px;
    float: right;
    position: relative;
    background-image: linear-gradient(120deg, #a72828 0%, #cf5f6e 100%);
    border-radius: .7em;
  }

  .otherMessagesBox img {
    text-align: left;
    float: left;
    position: relative;
    margin:0px;
  }
  
  .chatBox .otherMessages:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 0.406em solid transparent;
    border-right-color: #a72828;
    border-left: 0;
    margin-top: -0.406em;
    margin-left: -0.406em;
  }




  /* Motståndarlaget: */
  
#secretChat{
  opacity:0.5;
  height: 350px;
  }
  
  .chatBox .otherTeamsMessages {
    color: black;
    padding: 5px;
    margin: 10px;
    float: left;
    position: relative;
    background-image: linear-gradient(120deg, #363636 0%, #acadad 100%);
    border-radius: .7em;
    color: transparent;
    text-shadow: 0 0 8px #000;
    user-select: none;
  }
  
  .chatBox .otherTeamsMessages:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 0.406em solid transparent;
    border-right-color: #363636;
    border-left: 0;
    margin-top: -0.406em;
    margin-left: -0.406em;
  }


  /* ADMIN MESSAGES */

.adminMessages {
  color: black;
  font-size: smaller;
  padding: 5px 15px 5px 15px;
  margin: 20px 20px 5px 5px;
  text-align: center;
  float: center;
	position: relative;
  background-image: linear-gradient(120deg, #727272 0%, #ffffff 100%);
	border-radius: .7em;
}

  
  
  #animation{
    display:show;
  }
  
  /* Spinner */
  
  @keyframes load {
    0%{
        /*opacity: 0.08;*/
  /*         font-size: 10px; */
  /* 				font-weight: 400; */
        filter: blur(0px);
        letter-spacing: 1px;
        }
    100%{
  /*         opacity: 1; */
  /*         font-size: 12px; */
  /* 				font-weight:600; */
  /* 				filter: blur(0); */
        }
  }
  
  .animate {
  padding-top: 40px;
  display:flex;
  justify-content: center;
  align-items: center;
  height:100%;
  margin: auto;
  /* 	width: 350px; */
     font-size:18px; 
     font-style: bold;
  font-family: Helvetica, sans-serif, Arial;
  animation: load 1.0s infinite 0s ease-in-out;
  animation-direction: alternate;
  text-shadow: 0 0 5px rgb(41, 41, 41, 0.62);
  }
  
  /* Container: */
  
  .chatContainer img {
    max-width: 40px;
    
    border-radius: 100px;
    margin: 5px;
  }
  
  #userinfo{
    font-size: small;
    padding-bottom: 10px;
    padding: 10px;
    padding-left: 25px;
  }
  
  #userinfo img {
    object-fit: cover;
  
    max-height: 40px;
  }
  
  .chatContainer #headerimg {
    max-width: 80%;
    margin-bottom: -50px;
  }
  
  /* INPUT PART */
  
  .input-group{
    padding:15px;
    display:block;
    text-align: center;
  
  }
  .input-group .send_text{
    min-width: 80%;
    max-width: 90%;
    margin-left: 20px;
    display:inline;
    padding:30px;
    border-radius: 30px 0px 0px 30px;
    background-color: rgba(2, 2, 2, 0.39);
    color: rgb(236, 236, 236);
    border: none;
  }
  
  .input-group .send_button{
    background-color: rgba(2, 2, 2, 0.644);
    color:rgb(236, 236, 236);
    border: none;
    border-radius: 0px 30px 30px 0px;
  }

  #chatTextOther{
    color: #e9e9e9;
    background-color: rgba(2, 2, 2, 0.144);
    border-radius: 5px;
    display:block;
    min-width: 300px;
    height: 220px;
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 13px;
    padding-bottom: 10px;
  }
  
  /* MUSIC */
  
  #music {
    max-width: 100px;
  }

  /* VOTE BOX */


#voteBox {
  margin-top: 10px;
  padding: 20px;
  padding-left: 30px;
  text-align: left;

  color: rgba(250, 250, 250, 1);
  background-color: rgba(2, 2, 2, 0.541);

  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
  -moz-box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);
  box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.47);

  height: 155px;
  font-size: small;
  
}


#voteBox .inline-block {
  display: inline-block;
  padding: 10px;

}

#voteBox img {
  border-radius: 0px;
}