/* CSS that applies to all views*/
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url("https://cdn.hipwallpaper.com/i/67/19/TXEAb1.jpg") no-repeat center center fixed; 
    background-size: cover;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  /* THE CONTAINER */

  .container-fluid{
    padding-left: 3em;
    padding-right: 3em;
  }
